.modal { 
   background-color: white !important; 
}

.modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #0480af;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: skyblue;
 }
.topbar-items{
    padding-top: 4px;
}
.icon-img{
    padding: auto;
}

.my-topbar-collapse {
    height: 10;
   margin-top: 1px;
}
.topbar-right {
    height: 10px;
}

.user-avatar {
    height: 10px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
 
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}